@import "tailwindcss";

@theme {
  --color-uema-navy: #002752;
  --color-uema-gold: #ebc000;
  --color-uema-green: #00733f;
  --color-slate-bg: #F8FAFC;
  --color-text-main: #1E293B;
  --color-text-muted: #64748B;
  --font-display: 'Cinzel', serif;
  --font-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    background-color: #F8FAFC;
    color: #1E293B;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}
